:root {
  --primary-color: #dcb443;
  --secondary-color: #FFBB00;
  --text-color: #000000;
  --text-light: #00000066;
  --white: #fff;
  --yellow-bg: rgba(241, 182, 41, 0.4);
  --ff: Raleway;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

body {
  background-color: var(--white);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  margin-top: 9.375rem;
}

.cont-grid {
  max-width: 75rem;
  margin: 0 auto;
  padding: 7.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  background: #fccc50 50%;
  padding: 3.75rem;
}

.contact-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 3.75rem;
  max-width: 75rem;
  margin: 0 auto;
}

.contact-left {
  flex: 1;
  min-width: 31.25rem;
  text-align: left;
}

.title {
  font-size: 2.625rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
  text-align: left;
}

.company-name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2.5rem;
  text-align: left;
}

.company-highlight {
  color: #d1a03f;
}

.map-container {
  width: 100%;
  height: 20rem;
  border-radius: .625rem;
  overflow: hidden;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
}

.contact-right {
  flex: 1;
  min-width: 20rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.25rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: .9375rem;
  text-align: left;
}

.icon img {
  width: 1.75rem;
  height: 1.75rem;
  margin-top: .25rem;
  stroke-width: .3125rem;
}

.info h3 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.info p,
.info a {
  margin: .5rem 0 0;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

.info a:hover {
  color: #d1a03f;
  text-decoration: underline;
}

@media (max-width: 56.25rem) {
  .contact-grid {
    flex-direction: column;
    gap: 2.5rem;
  }

  .contact-left,
  .contact-right {
    min-width: 100%;
  }

  .map-container {
    height: 17.5rem;
  }

  .container {
    padding: 3.75rem 1.25rem;
  }

  .contact-section {
    padding: 2.5rem 1.25rem;
  }

  .contact-right {
    padding-bottom: 0;
  }
}
