#navbar {
    z-index: 10;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 75px;
    background-color: none;
    transition: all 0.35s;
}

nav {
    padding: 20px calc((100vw - 1440px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: none;
}

.navbar-scroll {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 200px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    object-fit: contain;
}

.sub-menu-logo {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sub-menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 20px;
    padding: 100px 0 20px 0px;
}

.sub-menu * {
    padding-left: 20px;
}

.back {
    position: absolute;
    right: 31px;
    top: 13px;
}

.submenu-button {
    width: 150px;
    text-align: center;
    padding: 10px 0px;
    font-size: 24px;
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: Raleway;
    color: white;
}

.nav-link {
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.bold {
    font-weight: 800;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fdba00;
    transition: transform 0.35s ease-out;
    transform-origin: bottom right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 1503px) {
    nav {
        padding: 20px 32px;
    }
}

@media (max-width: 1000px) {
    .nav-links {
        display: none;
    }
    .sub-menu-logo {
        display: block;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        gap: 16px;
    }

    .nav-links {
        flex-direction: column;
    }
}