#navbar {
    z-index: 10;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 4.6875rem;
    background-color: none;
    transition: all 0.35s;
}

nav {
    padding: 1.25rem calc((100vw - 90rem)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: none;
}

.navbar-scroll {
    background-color: white;
    box-shadow: 0 .1875rem .625rem rgba(0, 0, 0, 0.15);
}

.logo {
    width: 150px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
    object-fit: contain;
}

.sub-menu-logo {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sub-menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 1.5rem;
    padding: 5.25rem 0 1.25rem 0rem;
}

.sub-menu * {
    padding-left: 1.25rem;
    position: relative;
}

.sub-menu img {
    margin-bottom: 1rem;
}

.back {
    position: absolute;
    right: 1.9375rem;
    top: .8125rem;
}

.submenu-button {
    cursor: pointer;
    width: 9.375rem;
    text-align: center;
    padding: .625rem 0rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.submenu-button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .125rem;
    bottom: -.1875rem;
    left: 0;
    background-color: #fdba00;
    transition: transform 0.35s ease-out;
    transform-origin: bottom right;
}

.submenu-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#lang {
    font-weight: 700;
    font-size: 1rem;
    font-family: Raleway;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    font-family: Raleway;
    color: white;
}

.nav-link {
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.bold {
    font-weight: 800;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .125rem;
    bottom: -.1875rem;
    left: 0;
    background-color: #fdba00;
    transition: transform 0.35s ease-out;
    transform-origin: bottom right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#submenu-lang  {
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    font-size: 1.5rem;
}

@media (max-width: 1503px) {
    nav {
        padding: 1.25rem 2rem;
    }
}

@media (max-width: 1000px) {
    .nav-links {
        display: none;
    }
    .sub-menu-logo {
        display: block;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        gap: 1rem;
    }

    .nav-links {
        flex-direction: column;
    }
}